body{background-color:#000000}
p{color: #ffffff}
p{font-size: 25px}
a{color:white}
a{font-size: 25px}
h1,h2{color:#B9FAF6}
h1,h2 {font-size: 40px}
.part1 {color: #B9FAF6}
.favorite {color: white}
.favorite {font-size: 25px}
.copy {font-size:20px}
.copy {color: white}
.table {font-size: 25px}
.table {color: #B9FAF6}
.Email {color: white}
.LinkedIn {color: white}
nav{background-color:gray}
nav a{color: #c6fa0a}
nav a{font-size: 25px}
nav a:hover{background-color:#d1dbe4}
nav{padding: 10px}
nav{margin-bottom:30px}
.motto {float: right;}
.ogimage {max-width: 100%;}
.part1, .part2 {background-color: gray; border-radius: 2em; margin: 30px; flex-wrap: wrap}
.Address {float: left;}
.part2 {display: flex;}
@media only screen and (max-width: 600px)
 {
    nav a {display: block; width: 100%;}
    span {display: none;}
 }
 