body{background-color:#ff830f}
p{color: #086bff}
p{font-size: 25px}
a{color:#458B3E}
h1,h2{color:#B9FAF6}
h1,h2 {font-size: 40px}
nav{background-color:#70D9D5}
nav a{color: #c6fa0a}
nav a:hover{background-color:#d1dbe4}
nav{padding: 10px}
nav{margin-bottom:30px}
.motto {float: right;}
.ogimage {max-width: 100%;}
.part1, .part2 {background-color: red; border-radius: 2em; margin: 30px; flex-wrap: wrap}
.Address {float: left;}
.part2 {display: flex;}
@media only screen and (max-width: 600px)
 {
    nav a {display: block; width: 100%;}
    span {display: none;}
 }
 