body {font-family:Arial, Helvetica, sans-serif}
body {font-family: Arial, Helvetica, sans-serif;}
h1, h2{color: rgb(47, 95, 138);}
.evenrow{color:rgb(47, 95, 138)}
h1{font-family: 2 em;}
h2{font-family: 1.5 em;}