img {
    text-align:center;
    display:block;
    margin:auto;
    width:100%;
    max-width: 45rem;
    height:auto;
}
@media only screen and (max-width: 600px)
 {
    img {
        width:100px
    }
 }
* {
    text-align: center;
}