nav {
font-size: 20px;
}
.headerindex{
    font-size:50px
}
img {
    text-align:center;
    display:block;
    margin:auto;
    width:100%;
    max-width: 45rem;
    height:auto;
}
@media only screen and (max-width: 600px)
 {
    img {
        width:100px
    }
 }
* {
    text-align: center;
}

.header {
    background-color:aquamarine; 
    border-radius: 0em; 
    margin: 0px; 
    flex-wrap: wrap}

.englishtutoring {
    font-size: 50px
}
.part2 {display: flex;}
.part2 p {padding: 30px;}
.p1, .p2, .p3 {
    margin: 30px;
    font-size: 30px;
}
.p1 {flex: 1; order: 1; background-color: #cce5ffc5; border-radius:1em;}
.p2 {flex: 1; order: 2; background-color: #cce5ffc5; border-radius:1em;}
.p3 {flex: 1; order: 3; background-color: #cce5ffc5; border-radius:1em;}

.books {
    text-align:center;
    display:block;
    margin:12px;
    width:200%;
    max-width: 130rem;
    height:50%;
    max-height: 45rem;
}
